-i https://pypi.org/simple
certifi==2023.7.22
cffi==1.13.2
chardet==3.0.4
click==7.0
configparser==4.0.2
cryptography==39.0.1
flask==1.1.1
idna==2.8
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
ndg-httpsclient==0.5.1
pyasn1==0.4.8
pycparser==2.19
pyopenssl==19.0.0
requests[security]==2.22.0
six==1.13.0
urllib3==1.26.5
werkzeug==0.16.0
